.dialog {

  margin: 10vh auto 40px auto;
  width: fit-content; /* TODO: this is Chrome only; fix for others */
  max-width: 500px;
  min-width: 250px;
  min-height: 80px;

  position: absolute;
  left: 30px;
  right: 30px;
  top: 5px;

  background-color: white;
  padding: 20px 40px 40px 40px;
  border-radius: 20px;
  color: #222;
  box-shadow: 0 0 50px #0004;

  transition: opacity 0.25s, top 0.25s;
}

.dialog.undisplayed {
  display: none;
  opacity: 0;
}

.dialog.transparent {
  display: inline-block;
  opacity: 0;
}

.dialog.open {
  display: inline-block;
  opacity: 1;
  top: 20px;
}

.dialog a {
  color: #0984b9;
}

.dialog h3 {
  color: #0984b9;
}

.dialog .close {
  position: absolute;
  line-height: 18px;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  font-size: 30px;
  outline: none;
  color: #222;
}

#blanket {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dialog .tip {
  border: 1px solid #0984b9;
  padding: 6px 14px 8px 14px;
  font-size: 13px;
  margin-top: 15px;
}

.dialog .tip h4 {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 6px;
}

.dialog code {
  font-family: "Futura", "Century Gothic", sans-serif;
  color: white;
  background: #222;
  padding: 1px 6px 4px 6px;
  border-radius: 3px;
  margin-right: 1px;
}

#errorDialog {
  min-width: 380px;
}

#chr115 {
  width: 90px;
  height: 22px;
  display: inline-block;
  position: relative;
  top: 6px;
}

#chr115-tooltip {
  opacity: 0;
  width: 152px;
  height: 118px;
  position: absolute;
  top: 25px;
  left: -112px;
  transition: opacity 0.5s;
  transition-delay: 1.5s;
}

#aboutDialog.open #chr115-tooltip {
  opacity: 1;
}

#aboutDialog footer {
  text-align: center;
  font-size: 13px;
  margin-top: 60px;
}

.clickableOption {
  position: relative;
  background: #222;
  padding: 16px;
  border-radius: 2px;
  cursor: default;
  box-sizing: content-box;
  margin: 4px 1px;
}

.clickableOption .tooltip {
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s;
  transition-delay: 0.2s;
}

.clickableOption:hover .tooltip {
  opacity: 1;
}

.clickableOptions-row {
  text-align: center;
}

.radioButton::before {
  content: ".";
  color: transparent;
  width: 20px;
  height: 20px;
  background: white;
  text-align: center;
  margin-left: -10px;
  border: 1px solid #222;
  border-radius: 100%;
  box-shadow: 0 0 0 2px white;
  display: inline-block;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 6px;
}

.radioButton:not(.selected):hover::before {
  background-color: #0001;
}

.radioButton.selected::before {
  background-color: #0984b9;
  border-color: #0984b9;
}


.clickableOption-checkbox {
  width: 20px;
  height: 20px;
  background: white;
  text-align: center;
  position: absolute;
  margin-left: -10px;
  left: 50%;
  border: 1px solid #222;
  border-radius: 2px;
  box-shadow: 0 0 0 2px white;
  color: white;
}

.clickableOption:hover .clickableOption-checkbox {
  background-color: #eee;
}

.clickableOption.selected .clickableOption-checkbox {
  background-color: #0984b9;
  border-color: #0005;
}

.clickableOption.selected .clickableOption-checkbox::after {
  content: "✓";
  text-shadow: 1px 1px #0005;
}

.clickableOption-radioButton {
  width: 20px;
  height: 20px;
  background: white;
  text-align: center;
  position: absolute;
  margin-left: -10px;
  left: 50%;
  border: 1px solid #222;
  border-radius: 100%;
  box-shadow: 0 0 0 2px white;
}

.clickableOption.selected .clickableOption-radioButton {
  background-color: #0984b9;
  border: 1px solid transparent;
}

.clickableOption.selected .clickableOption-radioButton::after {
  background-color: white;
  border: 1px solid transparent;
  box-shadow: 0px 1px 2px #0005;
  content: " ";
  display: block;
  position: relative;
  top: 6px;
  left: 6px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
}
