#cursors-intro {
  margin-bottom: 20px;
}

#shiftCursorsDiagram {
  display: inline-block;
  width: 302px;
  height: 43px;
  position: relative;
  top: 10px;
  margin: 0 8px;
}

#crsrs_key {
  width: 176px;
  height: 80px;
}

#crsrs_cp1 {
  width: 60px;
  height: 80px;
}

#crsrs_cp2 {
  width: 60px;
  height: 80px;
}
