#scopeRail {
  right: 0;
  width: 274px;
  padding: 10px 12px 18px 12px;
}

#scopeRail-blanket {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#scopeRail-blanket.hidden {
  display: none;
}

.scopePanel.hidden {
  display: none;
}

#scopeRail select {
  font-family: Futura;
  color: white;
  background: #222;
  font-size: 13px;
  border: 10px solid #222;
  font-weight: bold;
  box-shadow: 0 0 0 1px white;
  outline: none;
  margin: auto;
  width: 200px;
  display: block;
  margin-bottom: 11px;
  /* Firefox */
  border-radius: 5px;
  text-align: center;
  -moz-appearance: none;
  text-transform: uppercase;
}

.scope-colorSample {
  position: relative;
  display: inline-block;
  top: 4px;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin-left: 3px;
  margin-right: 3px;
}

.scope-colorSample.highlightCol0 { background-color: hsl(  0, 50%, 50%); }
.scope-colorSample.highlightCol1 { background-color: hsl( 45, 50%, 50%); }
.scope-colorSample.highlightCol2 { background-color: hsl( 90, 50%, 50%); }
.scope-colorSample.highlightCol3 { background-color: hsl(135, 50%, 50%); }
.scope-colorSample.highlightCol4 { background-color: hsl(180, 50%, 50%); }
.scope-colorSample.highlightCol5 { background-color: hsl(225, 50%, 50%); }
.scope-colorSample.highlightCol6 { background-color: hsl(270, 50%, 50%); }
.scope-colorSample.highlightCol7 { background-color: hsl(315, 50%, 50%); }

.scope-colorSample.highlightColF00 { background-color: #f00; }
.scope-colorSample.highlightCol0F0 { background-color: #0f0; }
.scope-colorSample.highlightCol00F { background-color: #00f; }

#scopeRail .checkbox {
  color: white;
  font-size: 13px;
  text-align: left;
  padding-left: 32px;
  margin-bottom: 3px;
}

#scopeRail .checkbox::before {
  content: "✓";
  width: 16px;
  height: 16px;
  border-radius: 0px;
  box-shadow: 0 0 0 1px white;
  color: transparent;
  border: 1px solid #222;
  display: inline-block;
  margin-left: -27px;
  margin-right: 9px;
  margin-bottom: 6px;
  text-align: center;
}

#scopeRail .checkbox.selected::before {
  color: white;
}

#scopeRail .checkbox:not(.selected):hover::before {
  background-color: #0001;
}

.scope-legend {
  margin-bottom: 20px;
}
