#snapshotsRail {
  left: 0;
  width: 150px;
}

.snapshot {
  position: relative;
  width: 130px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  transition-property: height, opacity;
  transition-duration: 0.375s;
  height: 125px;
  opacity: 1;
}

.snapshot.collapsed {
  height: 0;
  opacity: 0;
}

.snapshot .innerFrame {
  position: absolute;
  bottom: 10px;
}

.snapshot canvas {
  margin: 14px 10px 2px 10px;
  width: 110px;
}

.snapshot canvas:active {
  transform: scale(0.95);
}

.snapshot a {
  color: white;
}

.snapshot .close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNiAyNiI+PGNpcmNsZSBjeD0iMTMiIGN5PSIxMyIgcj0iMTMiIHN0eWxlPSJmaWxsOiMyMjIiLz48cG9seWdvbiBwb2ludHM9IjE3LjkgOS41MiAxNi40OCA4LjEgMTMgMTEuNTkgOS41MiA4LjEgOC4xIDkuNTIgMTEuNTkgMTMgOC4xIDE2LjQ4IDkuNTIgMTcuOSAxMyAxNC40MSAxNi40OCAxNy45IDE3LjkgMTYuNDggMTQuNDEgMTMgMTcuOSA5LjUyIiBzdHlsZT0iZmlsbDojZmZmIi8+PC9zdmc+");
  opacity: 0;
  transition: opacity 0.1s;
}

.snapshot:hover .close {
  opacity: 1;
}

.snapshot .close:active {
  transform: scale(0.95);
}
